#header{
    background: #F6F6F6;
    position: sticky;
    top: 0;
    z-index: 1;
}

#bg-content{
    width: 100%;
    background: #EFF5F5;
}
.navbar-nav li a{
    display: block;
    color: #DC0000;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 10px;
}
.navbar-nav li a:hover{
    background-color: #d3c1c1;}


@media (max-width: 992px){
    .bannerImg{
        text-align: right;
    }
   
}
@media (max-width: 768px){
   .title p{
    text-align: justify;
    font-size: 1rem;
    
   }
   .headline-text{
    text-align: center;
   }
   .aboutBg{
    text-align: center;
   }
   .aboutbtnItem{
    text-align: center;
   }
   .sec4{
    text-align: center;
   }

}


.top-banner{
    background-image:url("images/bg-1.jpg");
    width: 100%;
   
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.image{
    background-image:url("Images/pic2.jpg") ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 34vh;
  
}
.text-content{
    overflow: hidden;
}
/* about us section */
.section{
    width: 100%;
    min-height: 80vh ;
    
}
    .msgSection{
        background-image: url("images/pic3.jpg");
        background-repeat: no-repeat 0 0;
        background-size: cover;
        opacity: 0.9;
        background-position: right;


    }
    .section2{
        width:100%;
        margin-top: 2rem;
        margin-bottom: 3rem;
        height:18.125rem;
        background: url('../images/msg.jpg') no-repeat center;
        background-size: cover;
        text-align: center;
    }
    .section3{
        background-color: rgba(245,246,250,255);
        text-align: center;
        margin-top: 3rem;

    }
